


   .button:active div {
   }

   .rigth-wrapper {

   }

   .ui-wrapper {
       display: flex;
       justify-content: space-between;
       align-items: flex-end;
       width: 100%;
       margin: 5rem 4rem;
       animation-duration: 1s;
       animation-name: slidein-ui;
   }

   @keyframes slidein-ui {
    from {
        margin: -10rem 4rem;

    }
  
    to {
        margin: 5rem 4rem;

    }
  }

