.player_won-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation-duration: 1s;
    animation-name: load;
    /* background-color: black; */
    background: rgba(0, 0, 0, 0.4);
}
.dealer-points__title {
    font-size: 5rem;
    color: rgb(255, 255, 255);
    margin: 1rem;
}

.player-points__title {
    font-size: 5rem;
    color: rgb(255, 255, 255);
    margin: 1rem;
}
.title-wrapper {
    margin: -15rem 0 0 0;
    animation-duration: 1s;
    animation-name: slidein-player_won;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player_won-wrapper__title{
    font-size: 8rem;
    color: rgb(255, 255, 255);

}

@keyframes slidein-player_won {
    from {
        margin: -200rem 0 0 0;
    }
  
    to {
        margin: -15rem 0 0 0;
    }
  }
  .vs-points__title {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    margin: 1rem;
}
@keyframes load {
    from {
        background: rgba(0, 0, 0, 0);
    }
  
    to {
        background: rgba(0, 0, 0, 0.4);
    }
  }